{% load static %}
<footer class="">
    <div class="bg-white pb-4">
        <div class="pt-3 items-center justify-center w-full flex border-b-[1px] pb-2 border-t-[1px] border-gray-300">
            <div class="items-center">
                <button class="bg-[#ff9903] px-10 w-full py-[3px]">Sign in</button>
                <div class="flex items-center justify-center space-x-1 mt-1">
                    <p class="text-[12px] font-medium">New Customer?</p>
                    <a class="text-[12px] font-bold text-blue-600" href="#"/>Start here </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#232f3e] p-6">
        <div class="flex items-start justify-between">
            <div>
                <h1 class="text-white uppercase font-bold text-[14px]">Get to Know Us</h1>
                <ul class="space-y-3">
                    <li>

                        <a href="#" class="text-white">Careers</a>
                    </li>
                    <li>

                        <a href="#" class="text-white">Blog</a>
                    </li>
                    <li>

                        <a href="#" class="text-white">About</a>
                    </li>
                    <li>

                        <a href="#" class="text-white">Investor Relations</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Amazon Devices</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Amazon Science</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1 class="text-white uppercase font-bold text-[14px] mb-3">Make Money with Us</h1>
                <ul class="space-y-3">
                    <li>
                        <a href="#" class="text-white">Sell products on Amazon</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Sell on Amazon Business</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Sell apps on Amazon</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Become an Affiliate</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Advertise Your Products</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Self-Publish with Us</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Host an Amazon Hub</a><br />
                    </li>
                    <li>
                        <a href="#" class="text-white">See More Make Money with Us</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1 class="text-white uppercase font-bold text-[14px] mb-3">Amazon Payment Products</h1>
                <ul class="space-y-3">
                    <li>

                        <a href="#" class="text-white">Amazon Business Card</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Shop with Points</a><br />
                    </li>
                    <li>

                        <a href="#" class="text-white">Reload Your Balance</a><br />
                    </li>
                    <li>
                        <a href="#" class="text-white">Amazon Currency Converter</a><br />
                    </li>
                </ul>
            </div>
            <div>
                <h1 class="text-white uppercase font-bold text-[14px] mb-3">Let Us Help You</h1>
                <ul class="space-y-3">
                    <li>
                        <a href="#" class="text-white">Amazon and COVID-19</a>
                    </li>
                    <li>

                        <a href="#" class="text-white">Your Account</a>
                    </li>
                    <li>

                        <a href="#" class="text-white">Your Orders</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Shipping Rates & Policies</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Returns & Replacements</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Manage Your Content and Devices</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Amazon Assistant</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Help</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-b-[1px] bg-[#131A22] py-3 flex items-center justify-center border-b-gray-300 mt-10">
            <div class="px-3 py-2 flex items-center justify-between">
                <a href="#" class="">
                <img src="https://www.nicepng.com/png/full/16-167642_amazon-logo-amazon-logo-white-text.png" class="w-26 h-7 -pt-2" />
            </a>
            <a href="#" class="flex items-center space-x-2 border-gray-500 border-[1px] py-[10px] ml-16 rounded-[2px] px-8">
                <i class="fa fa-globe text-white" aria-hidden="true"></i>
                <p class="text-gray-400 text-[12px] font-bold">English</p>
            </a>
            <a href="#" class="flex items-center space-x-2 border-gray-500 border-[1px] py-[10px] ml-3 rounded-[2px] px-8">
                <i class="fa fa-usd text-white" aria-hidden="true"></i>
                <p class="text-gray-400 text-[12px] font-bold">USD - U.S. Dollar</p>
            </a>
            <a href="#" class="flex items-center space-x-2 border-gray-500 border-[1px] py-[10px] ml-3 rounded-[2px] px-8">
                <img src="https://cdn-icons-png.flaticon.com/128/555/555526.png" class="w-5 h-5">
                <p class="text-gray-400 text-[12px] font-bold">United States</p>
            </a>
        </div>
    </div>
</footer>